<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <filter>
        <filter-name>adfBindings</filter-name>
        <filter-class>oracle.adf.model.servlet.ADFBindingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adfBindings</filter-name>
        <url-pattern>/adf/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>com.packtpub.adfguide.ch7.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/adf/DemoServlet</url-pattern>
    </servlet-mapping>
</web-app>
